In [27]:
import pandas
import numpy
import random
import sys

from keras.callbacks import LambdaCallback
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from keras.layers import LSTM, GRU
from keras.optimizers import RMSprop, Adam

In [2]:
cd ..

/Users/mmccurdy/code/starwars-namer

In [3]:
from swnamer.process import chunk_names, chunk_names_file, create_indices_file, create_indices, SampleNames, SampleNamesFile, create_training_vectors

In [4]:
male = pandas.read_csv('data/male.txt', header=5, names=['name'])

In [5]:
female = pandas.read_csv('data/female.txt', header=5, names=['name'])

In [6]:
male.shape, female.shape

((2942, 1), (5000, 1))

In [7]:
male.columns

Index(['name'], dtype='object')

In [8]:
male.sample(20)

          name
2139     Ricky
1143  Henrique
2840    Wilson
2826   Wilhelm
2174   Rodrick
201    Averell
620     Derrin
441   Chauncey
11        Abel
1439  Kendrick
2314    Shanan
216      Baird
1107     Harry
29     Adolpho
424      Chaim
2255   Samuele
226    Barnaby
636   Dietrich
2725    Virgil
1371     Johny

In [9]:
female.sample(20)

            name
1553     Ellissa
1115   Corrianne
2230        Inez
795    Caroljean
2968        Leta
1838     Frankie
1234       Darya
1538      Elissa
867      Celeste
2179  Holly-Anne
4123        Rina
2552       Julie
3800        Noni
4995      Zuzana
1469    Ealasaid
2373     Jeannie
376       Arlyne
3089    Lorianna
4757       Trude
3866      Oralle

In [10]:
combined = pandas.concat([male, female])

In [11]:
combined = combined.sample(frac=1, random_state=38974)

In [12]:
combined

            name
2896   Laurianne
721       Elbert
199       Austin
301         Anni
645       Dionis
2475         Tab
2211       Rubin
4037     Randene
728        Eliot
773    Carmelina
3887       Paige
4534       Sukey
328        Boris
1950       Paton
656       Briney
1968      Ginger
1271       Jacob
4052       Raven
1225     Ibrahim
398       Carlie
1296   Jean-Marc
4706     Tiphany
1610      Manish
4712       Tobie
814        Casie
1240       Dasya
2343   Sherlocke
782         Caro
2113       Reube
55          Aggi
...          ...
2428    Stanford
1063   Consolata
2525        Josy
2109      Hattie
528    Cornelius
994        Clair
961         Gere
1034       Cleva
2152      Robert
2527         Joy
3490   Mellicent
1091  Hans-Peter
2058     Gweneth
4772      Ulrika
329       Arabel
1970      Ginnie
3826      Odetta
1809     Florice
2024       Quent
1027  Clementina
4415      Sheril
2843         Kym
486      Cleland
1850      Nilson
2050       Gusta
4688      Tiffie
1749         Fay
1426      Keenan
3446        Maye
2795      Kizzie

[7942 rows x 1 columns]

In [13]:
combined.loc[:, 'name'] = combined.name.str.lower()

In [14]:
combined

            name
2896   laurianne
721       elbert
199       austin
301         anni
645       dionis
2475         tab
2211       rubin
4037     randene
728        eliot
773    carmelina
3887       paige
4534       sukey
328        boris
1950       paton
656       briney
1968      ginger
1271       jacob
4052       raven
1225     ibrahim
398       carlie
1296   jean-marc
4706     tiphany
1610      manish
4712       tobie
814        casie
1240       dasya
2343   sherlocke
782         caro
2113       reube
55          aggi
...          ...
2428    stanford
1063   consolata
2525        josy
2109      hattie
528    cornelius
994        clair
961         gere
1034       cleva
2152      robert
2527         joy
3490   mellicent
1091  hans-peter
2058     gweneth
4772      ulrika
329       arabel
1970      ginnie
3826      odetta
1809     florice
2024       quent
1027  clementina
4415      sheril
2843         kym
486      cleland
1850      nilson
2050       gusta
4688      tiffie
1749         fay
1426      keenan
3446        maye
2795      kizzie

[7942 rows x 1 columns]

In [15]:
timesteps = 1

In [16]:
token_to_index, index_to_token = create_indices(combined, 'name')

In [ ]:
chunks, next_char = chunk_names(combined, 'name', timesteps)

In [ ]:
vocab_size = len(token_to_index)

In [ ]:
X, y = create_training_vectors(chunks, next_char, token_to_index, timesteps, vocab_size)

In [ ]:
X.shape

In [ ]:
y.shape

In [17]:
model = Sequential()
model.add(LSTM(128, input_shape=(timesteps, vocab_size)))
model.add(Dense(vocab_size))
model.add(Activation('softmax'))
optimizer = Adam(lr=.01, clipvalue=5)
model.compile(optimizer, 'categorical_crossentropy')

In [ ]:
model.fit(X, y, epochs=200, batch_size=128, callbacks=[SampleNames(chunks, timesteps, vocab_size, token_to_index, index_to_token)])

In [ ]:
combined.to_csv('output/standard_names.csv', index=False, header=False)

In [4]:
with open('output/standard_names.csv', 'r') as infile:
    text = infile.read()

In [5]:
token_to_index, index_to_token = create_indices_file(text)

In [6]:
vocab_size = len(token_to_index)

In [48]:
timesteps = 2

In [49]:
chunks, next_char = chunk_names_file(text, timesteps, stepsize=1)

In [50]:
X, y = create_training_vectors(chunks, next_char, token_to_index, timesteps, vocab_size)

In [56]:
model = Sequential()
model.add(LSTM(64, input_shape=(timesteps, vocab_size), return_sequences=True))
model.add(LSTM(64, input_shape=(timesteps, vocab_size), return_sequences=True))
model.add(LSTM(64, input_shape=(timesteps, vocab_size), return_sequences=False))

model.add(Dense(vocab_size))
model.add(Activation('softmax'))
optimizer = RMSprop(lr=.01, clipvalue=1)
model.compile(optimizer, 'categorical_crossentropy')

In [57]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_17 (LSTM)               (None, 2, 64)             24320
_________________________________________________________________
lstm_18 (LSTM)               (None, 2, 64)             33024
_________________________________________________________________
lstm_19 (LSTM)               (None, 64)                33024
_________________________________________________________________
dense_15 (Dense)             (None, 30)                1950
_________________________________________________________________
activation_15 (Activation)   (None, 30)                0
=================================================================
Total params: 92,318
Trainable params: 92,318
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(X, y, epochs=200, batch_size=64, callbacks=[SampleNamesFile(timesteps, vocab_size, token_to_index, index_to_token, text)])

Epoch 1/200
55853/55853 [==============================] - 10s 184us/step - loss: 2.4132

----- Generating text after Epoch: 0
----- diversity: 0.2
----- Generating with seed: "w"
wen
----- diversity: 0.5
----- Generating with seed: "w"
wel
----- diversity: 1.0
----- Generating with seed: "w"
wpinart
----- diversity: 1.2
----- Generating with seed: "w"
wolie
Epoch 2/200
55853/55853 [==============================] - 7s 128us/step - loss: 2.2645
Epoch 3/200
55853/55853 [==============================] - 6s 104us/step - loss: 2.2247
Epoch 4/200
55853/55853 [==============================] - 6s 100us/step - loss: 2.2074
Epoch 5/200
55853/55853 [==============================] - 6s 111us/step - loss: 2.1958
Epoch 6/200
55853/55853 [==============================] - 7s 133us/step - loss: 2.1878

----- Generating text after Epoch: 5
----- diversity: 0.2
----- Generating with seed: "u"
unda
----- diversity: 0.5
----- Generating with seed: "u"
un
----- diversity: 1.0
----- Generating with seed: "u"
ulricorus
----- diversity: 1.2
----- Generating with seed: "u"
urd
Epoch 7/200
55853/55853 [==============================] - 7s 126us/step - loss: 2.1831
Epoch 8/200
55853/55853 [==============================] - 7s 132us/step - loss: 2.1799
Epoch 9/200
55853/55853 [==============================] - 7s 126us/step - loss: 2.1775
Epoch 10/200
55853/55853 [==============================] - 6s 111us/step - loss: 2.1763
Epoch 11/200
55853/55853 [==============================] - 6s 100us/step - loss: 2.1743

----- Generating text after Epoch: 10
----- diversity: 0.2
----- Generating with seed: "g"
gne
----- diversity: 0.5
----- Generating with seed: "g"
g
----- diversity: 1.0
----- Generating with seed: "g"
grettromantina
----- diversity: 1.2
----- Generating with seed: "g"
gaundrok
Epoch 12/200
55853/55853 [==============================] - 6s 111us/step - loss: 2.1725
Epoch 13/200
55853/55853 [==============================] - 7s 127us/step - loss: 2.1718
Epoch 14/200
55853/55853 [==============================] - 7s 133us/step - loss: 2.1709
Epoch 15/200
55853/55853 [==============================] - 7s 127us/step - loss: 2.1733
Epoch 16/200
55853/55853 [==============================] - 6s 115us/step - loss: 2.1752

----- Generating text after Epoch: 15
----- diversity: 0.2
----- Generating with seed: "j"
jne
----- diversity: 0.5
----- Generating with seed: "j"
jna
----- diversity: 1.0
----- Generating with seed: "j"
jne
----- diversity: 1.2
----- Generating with seed: "j"
jirlickarrozea
Epoch 17/200
55853/55853 [==============================] - 6s 102us/step - loss: 2.1746
Epoch 18/200
55853/55853 [==============================] - 6s 103us/step - loss: 2.1740
Epoch 19/200
55853/55853 [==============================] - 6s 102us/step - loss: 2.1750
Epoch 20/200
55853/55853 [==============================] - 6s 100us/step - loss: 2.1757
Epoch 21/200
55853/55853 [==============================] - 6s 100us/step - loss: 2.1767

----- Generating text after Epoch: 20
----- diversity: 0.2
----- Generating with seed: "b"
bla
----- diversity: 0.5
----- Generating with seed: "b"
by
----- diversity: 1.0
----- Generating with seed: "b"
bcamorl
----- diversity: 1.2
----- Generating with seed: "b"
briggia
Epoch 22/200
55853/55853 [==============================] - 6s 102us/step - loss: 2.1758
Epoch 23/200
55853/55853 [==============================] - 6s 100us/step - loss: 2.1746
Epoch 24/200
55853/55853 [==============================] - 6s 100us/step - loss: 2.1749
Epoch 25/200
55853/55853 [==============================] - 6s 101us/step - loss: 2.1795
Epoch 26/200
55853/55853 [==============================] - 6s 101us/step - loss: 2.1771

----- Generating text after Epoch: 25
----- diversity: 0.2
----- Generating with seed: "k"
krissa
----- diversity: 0.5
----- Generating with seed: "k"
krin
----- diversity: 1.0
----- Generating with seed: "k"
krita
----- diversity: 1.2
----- Generating with seed: "k"
kla
Epoch 27/200
55853/55853 [==============================] - 6s 102us/step - loss: 2.1788
Epoch 28/200
55853/55853 [==============================] - 6s 103us/step - loss: 2.1781
Epoch 29/200
55853/55853 [==============================] - 6s 113us/step - loss: 2.1820
Epoch 30/200
55853/55853 [==============================] - 6s 110us/step - loss: 2.1782
Epoch 31/200
55853/55853 [==============================] - 6s 111us/step - loss: 2.1809

----- Generating text after Epoch: 30
----- diversity: 0.2
----- Generating with seed: "e"
eigie
----- diversity: 0.5
----- Generating with seed: "e"
e
----- diversity: 1.0
----- Generating with seed: "e"
ei
----- diversity: 1.2
----- Generating with seed: "e"
eards
Epoch 32/200
55853/55853 [==============================] - 7s 120us/step - loss: 2.1793
Epoch 33/200
55853/55853 [==============================] - 6s 104us/step - loss: 2.1788
Epoch 34/200
55853/55853 [==============================] - 6s 109us/step - loss: 2.1785
Epoch 35/200
55853/55853 [==============================] - 6s 111us/step - loss: 2.1842
Epoch 36/200
55853/55853 [==============================] - 6s 112us/step - loss: 2.1857

----- Generating text after Epoch: 35
----- diversity: 0.2
----- Generating with seed: "v"
vris
----- diversity: 0.5
----- Generating with seed: "v"
vne
----- diversity: 1.0
----- Generating with seed: "v"
vle
----- diversity: 1.2
----- Generating with seed: "v"
vnony
Epoch 37/200
 1600/55853 [..............................] - ETA: 5s - loss: 2.1077

/Users/mmccurdy/code/starwars-namer/swnamer/process.py:93: RuntimeWarning: divide by zero encountered in log
  preds = numpy.log(preds) / temperature

55853/55853 [==============================] - 6s 111us/step - loss: 2.1827
Epoch 38/200
55853/55853 [==============================] - 6s 115us/step - loss: 2.1858
Epoch 39/200
55853/55853 [==============================] - 6s 107us/step - loss: 2.1889
Epoch 40/200
55853/55853 [==============================] - 6s 109us/step - loss: 2.1910
Epoch 41/200
55853/55853 [==============================] - 6s 107us/step - loss: 2.1911

----- Generating text after Epoch: 40
----- diversity: 0.2
----- Generating with seed: "u"
uin
----- diversity: 0.5
----- Generating with seed: "u"
uenne
----- diversity: 1.0
----- Generating with seed: "u"
ulynn
----- diversity: 1.2
----- Generating with seed: "u"
uas
Epoch 42/200
55853/55853 [==============================] - 6s 112us/step - loss: 2.1944
Epoch 43/200
55853/55853 [==============================] - 6s 105us/step - loss: 2.1935
Epoch 44/200
55853/55853 [==============================] - 6s 104us/step - loss: 2.1974
Epoch 45/200
55853/55853 [==============================] - 6s 105us/step - loss: 2.1962
Epoch 46/200
55853/55853 [==============================] - 6s 101us/step - loss: 2.1941

----- Generating text after Epoch: 45
----- diversity: 0.2
----- Generating with seed: "w"
wris
----- diversity: 0.5
----- Generating with seed: "w"
wchamer
----- diversity: 1.0
----- Generating with seed: "w"
wlenerangtolitebbey
----- diversity: 1.2
----- Generating with seed: "w"
wnie
Epoch 47/200
55853/55853 [==============================] - 6s 114us/step - loss: 2.1970
Epoch 48/200
55853/55853 [==============================] - 6s 116us/step - loss: 2.1957
Epoch 49/200
55853/55853 [==============================] - 6s 112us/step - loss: 2.1983
Epoch 50/200
55853/55853 [==============================] - 6s 110us/step - loss: 2.1966
Epoch 51/200
55853/55853 [==============================] - 7s 121us/step - loss: 2.1950

----- Generating text after Epoch: 50
----- diversity: 0.2
----- Generating with seed: "v"
vrine
----- diversity: 0.5
----- Generating with seed: "v"
vria
----- diversity: 1.0
----- Generating with seed: "v"
vallisa
----- diversity: 1.2
----- Generating with seed: "v"
vrillav
Epoch 52/200
55853/55853 [==============================] - 6s 105us/step - loss: 2.1973
Epoch 53/200
55853/55853 [==============================] - 6s 110us/step - loss: 2.1994
Epoch 54/200
55853/55853 [==============================] - 7s 132us/step - loss: 2.1963
Epoch 55/200
55853/55853 [==============================] - 8s 148us/step - loss: 2.1916
Epoch 56/200
55853/55853 [==============================] - 7s 131us/step - loss: 2.1938

----- Generating text after Epoch: 55
----- diversity: 0.2
----- Generating with seed: "w"
wla
----- diversity: 0.5
----- Generating with seed: "w"
woodi
----- diversity: 1.0
----- Generating with seed: "w"
wstrier
----- diversity: 1.2
----- Generating with seed: "w"
wsten
Epoch 57/200
55853/55853 [==============================] - 6s 116us/step - loss: 2.1933
Epoch 58/200
55853/55853 [==============================] - 6s 114us/step - loss: 2.1975
Epoch 59/200
55853/55853 [==============================] - 6s 106us/step - loss: 2.1965
Epoch 60/200
55853/55853 [==============================] - 6s 108us/step - loss: 2.1996
Epoch 61/200
55853/55853 [==============================] - 7s 129us/step - loss: 2.1975

----- Generating text after Epoch: 60
----- diversity: 0.2
----- Generating with seed: "f"
fanne
----- diversity: 0.5
----- Generating with seed: "f"
fana
----- diversity: 1.0
----- Generating with seed: "f"
forin
----- diversity: 1.2
----- Generating with seed: "f"
fretterd
Epoch 62/200
55853/55853 [==============================] - 7s 124us/step - loss: 2.1960
Epoch 63/200
55853/55853 [==============================] - 7s 126us/step - loss: 2.1975
Epoch 64/200
55853/55853 [==============================] - 7s 127us/step - loss: 2.1981
Epoch 65/200
55853/55853 [==============================] - 7s 118us/step - loss: 2.2017
Epoch 66/200
55853/55853 [==============================] - 7s 124us/step - loss: 2.1979

----- Generating text after Epoch: 65
----- diversity: 0.2
----- Generating with seed: "i"
ia
----- diversity: 0.5
----- Generating with seed: "i"
ida
----- diversity: 1.0
----- Generating with seed: "i"
iim
----- diversity: 1.2
----- Generating with seed: "i"
ijaina
Epoch 67/200
55853/55853 [==============================] - 7s 122us/step - loss: 2.2062
Epoch 68/200
55853/55853 [==============================] - 7s 119us/step - loss: 2.2003
Epoch 69/200
55853/55853 [==============================] - 7s 123us/step - loss: 2.2120
Epoch 70/200
55853/55853 [==============================] - 7s 129us/step - loss: 2.2029
Epoch 71/200
55853/55853 [==============================] - 7s 126us/step - loss: 2.2039

----- Generating text after Epoch: 70
----- diversity: 0.2
----- Generating with seed: "l"
la
----- diversity: 0.5
----- Generating with seed: "l"
lsia
----- diversity: 1.0
----- Generating with seed: "l"
lette
----- diversity: 1.2
----- Generating with seed: "l"
lbeukadixi
Epoch 72/200
26240/55853 [=============>................] - ETA: 3s - loss: 2.2224