In [1]:
import pandas
import numpy
import random
import sys

from keras.callbacks import LambdaCallback
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from keras.layers import LSTM, GRU
from keras.optimizers import RMSprop, Adam, SGD

/Users/mmccurdy/.virtualenvs/starwars-namer/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
cd ..

/Users/mmccurdy/code/starwars-namer

In [3]:
from swnamer.process import chunk_names, chunk_names_file, create_indices_file, create_indices, SampleNames, SampleNamesFile, create_training_vectors

In [4]:
male = pandas.read_csv('data/male.txt', header=5, names=['name'])

In [5]:
female = pandas.read_csv('data/female.txt', header=5, names=['name'])

In [6]:
male.shape, female.shape

((2942, 1), (5000, 1))

In [7]:
male.columns

Index(['name'], dtype='object')

In [8]:
male.sample(20)

           name
2486     Tailor
1942     Pascal
1646    Martino
2149       Robb
1137  Henderson
1246        Ira
1767     Morris
1055    Guthrey
2669      Ulick
412       Casey
59        Aldus
2317    Shannon
174      Arther
11         Abel
757      Emmett
2353  Shurlocke
2101   Reinhard
2110     Renaud
2773   Waverley
309      Billie

In [9]:
female.sample(20)

            name
409       Audrye
4575    Tabbitha
3447        Mead
1835   Francoise
4200     Roseann
900     Charlene
4165        Rona
4467      Sinead
1903    Gennifer
4830      Verine
3837     Olimpia
3257       Manya
2958    Leontine
1663        Esta
405        Audre
2356     Jasmina
2762   Kimberlee
3331     Marilee
3955  Petronella
684        Bunni

In [10]:
combined = pandas.concat([male, female])

In [11]:
# shuffle
combined = combined.sample(frac=1, random_state=38974)

In [12]:
combined

            name
2896   Laurianne
721       Elbert
199       Austin
301         Anni
645       Dionis
2475         Tab
2211       Rubin
4037     Randene
728        Eliot
773    Carmelina
3887       Paige
4534       Sukey
328        Boris
1950       Paton
656       Briney
1968      Ginger
1271       Jacob
4052       Raven
1225     Ibrahim
398       Carlie
1296   Jean-Marc
4706     Tiphany
1610      Manish
4712       Tobie
814        Casie
1240       Dasya
2343   Sherlocke
782         Caro
2113       Reube
55          Aggi
...          ...
2428    Stanford
1063   Consolata
2525        Josy
2109      Hattie
528    Cornelius
994        Clair
961         Gere
1034       Cleva
2152      Robert
2527         Joy
3490   Mellicent
1091  Hans-Peter
2058     Gweneth
4772      Ulrika
329       Arabel
1970      Ginnie
3826      Odetta
1809     Florice
2024       Quent
1027  Clementina
4415      Sheril
2843         Kym
486      Cleland
1850      Nilson
2050       Gusta
4688      Tiffie
1749         Fay
1426      Keenan
3446        Maye
2795      Kizzie

[7942 rows x 1 columns]

In [13]:
combined.loc[:, 'name'] = combined.name.str.lower()

In [14]:
combined

            name
2896   laurianne
721       elbert
199       austin
301         anni
645       dionis
2475         tab
2211       rubin
4037     randene
728        eliot
773    carmelina
3887       paige
4534       sukey
328        boris
1950       paton
656       briney
1968      ginger
1271       jacob
4052       raven
1225     ibrahim
398       carlie
1296   jean-marc
4706     tiphany
1610      manish
4712       tobie
814        casie
1240       dasya
2343   sherlocke
782         caro
2113       reube
55          aggi
...          ...
2428    stanford
1063   consolata
2525        josy
2109      hattie
528    cornelius
994        clair
961         gere
1034       cleva
2152      robert
2527         joy
3490   mellicent
1091  hans-peter
2058     gweneth
4772      ulrika
329       arabel
1970      ginnie
3826      odetta
1809     florice
2024       quent
1027  clementina
4415      sheril
2843         kym
486      cleland
1850      nilson
2050       gusta
4688      tiffie
1749         fay
1426      keenan
3446        maye
2795      kizzie

[7942 rows x 1 columns]

In [16]:
timesteps = 3

In [17]:
combined['name'] = ('^' * timesteps) + combined.name

In [18]:
token_to_index, index_to_token = create_indices(combined, 'name')

In [19]:
chunks, next_char = chunk_names(combined, 'name', timesteps)

In [21]:
vocab_size = len(token_to_index)
vocab_size

31

In [ ]:
X, y = create_training_vectors(chunks, next_char, token_to_index, timesteps, vocab_size)

In [ ]:
X.shape

In [ ]:
y.shape

In [ ]:
model = Sequential()
model.add(LSTM(128, input_shape=(timesteps, vocab_size)))
model.add(LSTM(128, input_shape=(timesteps, vocab_size), return_sequences=True))
model.add(Dense(vocab_size))
model.add(Activation('softmax'))
optimizer = Adam(lr=.01, clipvalue=5)
model.compile(optimizer, 'categorical_crossentropy')

In [ ]:
model.fit(X, y, epochs=200, batch_size=128, callbacks=[SampleNames(chunks, timesteps, vocab_size, token_to_index, index_to_token)])

In [ ]:
combined.to_csv('output/standard_names.csv', index=False, header=False)

In [4]:
with open('output/standard_names.csv', 'r') as infile:
    text = infile.read()

In [5]:
token_to_index, index_to_token = create_indices_file(text)

In [6]:
vocab_size = len(token_to_index)

In [7]:
timesteps = 2

In [8]:
chunks, next_char = chunk_names_file(text, timesteps, stepsize=1)

In [9]:
X, y = create_training_vectors(chunks, next_char, token_to_index, timesteps, vocab_size)

In [10]:
train_end = int(X.shape[0] * .8)

In [11]:
X_train, X_valid, y_train, y_valid = X[:train_end], X[train_end:], y[:train_end], y[train_end:]

In [12]:
model = Sequential()
model.add(LSTM(128, input_shape=(timesteps, vocab_size), return_sequences=False))
model.add(Dense(vocab_size))
model.add(Activation('softmax'))
optimizer = SGD(lr=.01, momentum=.99, nesterov=True, clipvalue=1)
model.compile(optimizer, 'categorical_crossentropy')

In [13]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 128)               81408
_________________________________________________________________
dense_1 (Dense)              (None, 30)                3870
_________________________________________________________________
activation_1 (Activation)    (None, 30)                0
=================================================================
Total params: 85,278
Trainable params: 85,278
Non-trainable params: 0
_________________________________________________________________

In [14]:
model.fit(X_train, y_train, epochs=81, batch_size=128, 
          callbacks=[SampleNamesFile(timesteps, vocab_size, token_to_index, index_to_token, text)],
         validation_data=(X_valid, y_valid))

Train on 44682 samples, validate on 11171 samples
Epoch 1/81
44682/44682 [==============================] - 3s 58us/step - loss: 2.8632 - val_loss: 2.6628

----- Generating text after Epoch: 0
----- Generating with seed: "r"
----- diversity: 0.2
re
----- diversity: 0.5
rriadna
----- diversity: 1.0
rkolno
----- diversity: 1.2
raewe
Epoch 2/81
44682/44682 [==============================] - 2s 47us/step - loss: 2.5436 - val_loss: 2.4719
Epoch 3/81
44682/44682 [==============================] - 2s 46us/step - loss: 2.4252 - val_loss: 2.4099
Epoch 4/81
44682/44682 [==============================] - 2s 47us/step - loss: 2.3762 - val_loss: 2.3724
Epoch 5/81
44682/44682 [==============================] - 2s 50us/step - loss: 2.3419 - val_loss: 2.3454
Epoch 6/81
44682/44682 [==============================] - 2s 47us/step - loss: 2.3176 - val_loss: 2.3207

----- Generating text after Epoch: 5
----- Generating with seed: "n"
----- diversity: 0.2
ne
----- diversity: 0.5
ne
----- diversity: 1.0
ntevaiailisha
----- diversity: 1.2
nayl
Epoch 7/81
44682/44682 [==============================] - 2s 47us/step - loss: 2.2986 - val_loss: 2.3057
Epoch 8/81
44682/44682 [==============================] - 2s 47us/step - loss: 2.2841 - val_loss: 2.2962
Epoch 9/81
44682/44682 [==============================] - 2s 48us/step - loss: 2.2733 - val_loss: 2.2857
Epoch 10/81
44682/44682 [==============================] - 2s 48us/step - loss: 2.2595 - val_loss: 2.2769
Epoch 11/81
44682/44682 [==============================] - 2s 48us/step - loss: 2.2481 - val_loss: 2.2725

----- Generating text after Epoch: 10
----- Generating with seed: "j"
----- diversity: 0.2
janna
----- diversity: 0.5
jandoda
----- diversity: 1.0
jee
----- diversity: 1.2
janane
Epoch 12/81
44682/44682 [==============================] - 2s 48us/step - loss: 2.2407 - val_loss: 2.2565
Epoch 13/81
44682/44682 [==============================] - 2s 49us/step - loss: 2.2294 - val_loss: 2.2523
Epoch 14/81
44682/44682 [==============================] - 2s 47us/step - loss: 2.2210 - val_loss: 2.2531
Epoch 15/81
44682/44682 [==============================] - 2s 47us/step - loss: 2.2164 - val_loss: 2.2421
Epoch 16/81
44682/44682 [==============================] - 2s 48us/step - loss: 2.2075 - val_loss: 2.2342

----- Generating text after Epoch: 15
----- Generating with seed: "x"
----- diversity: 0.2
xie
----- diversity: 0.5
xe
----- diversity: 1.0
xi
----- diversity: 1.2
xuiannick
Epoch 17/81
44682/44682 [==============================] - 2s 48us/step - loss: 2.2020 - val_loss: 2.2321
Epoch 18/81
44682/44682 [==============================] - 2s 48us/step - loss: 2.1990 - val_loss: 2.2288
Epoch 19/81
44682/44682 [==============================] - 2s 51us/step - loss: 2.1933 - val_loss: 2.2227
Epoch 20/81
44682/44682 [==============================] - 2s 53us/step - loss: 2.1881 - val_loss: 2.2176
Epoch 21/81
44682/44682 [==============================] - 2s 50us/step - loss: 2.1835 - val_loss: 2.2194

----- Generating text after Epoch: 20
----- Generating with seed: "y"
----- diversity: 0.2
y
----- diversity: 0.5
yandellee
----- diversity: 1.0
yrrisannara
----- diversity: 1.2
ykkyy
Epoch 22/81
44682/44682 [==============================] - 2s 51us/step - loss: 2.1811 - val_loss: 2.2156
Epoch 23/81
44682/44682 [==============================] - 2s 50us/step - loss: 2.1787 - val_loss: 2.2118
Epoch 24/81
44682/44682 [==============================] - 2s 51us/step - loss: 2.1719 - val_loss: 2.2078
Epoch 25/81
44682/44682 [==============================] - 2s 50us/step - loss: 2.1711 - val_loss: 2.2064
Epoch 26/81
44682/44682 [==============================] - 2s 51us/step - loss: 2.1703 - val_loss: 2.2054

----- Generating text after Epoch: 25
----- Generating with seed: "g"
----- diversity: 0.2
ger
----- diversity: 0.5
gotte
----- diversity: 1.0
ge
----- diversity: 1.2
godolo
Epoch 27/81
44682/44682 [==============================] - 2s 52us/step - loss: 2.1647 - val_loss: 2.2074
Epoch 28/81
44682/44682 [==============================] - 2s 51us/step - loss: 2.1633 - val_loss: 2.1989
Epoch 29/81
44682/44682 [==============================] - 2s 51us/step - loss: 2.1578 - val_loss: 2.1965
Epoch 30/81
44682/44682 [==============================] - 2s 51us/step - loss: 2.1537 - val_loss: 2.1944
Epoch 31/81
44682/44682 [==============================] - 2s 52us/step - loss: 2.1528 - val_loss: 2.1967

----- Generating text after Epoch: 30
----- Generating with seed: "g"
----- diversity: 0.2
gene
----- diversity: 0.5
gargard
----- diversity: 1.0
genduanilbainozale
----- diversity: 1.2
ge
Epoch 32/81
44682/44682 [==============================] - 2s 51us/step - loss: 2.1526 - val_loss: 2.1951
Epoch 33/81
44682/44682 [==============================] - 2s 55us/step - loss: 2.1492 - val_loss: 2.1939
Epoch 34/81
44682/44682 [==============================] - 2s 51us/step - loss: 2.1488 - val_loss: 2.1930
Epoch 35/81
44682/44682 [==============================] - 2s 52us/step - loss: 2.1462 - val_loss: 2.1875
Epoch 36/81
44682/44682 [==============================] - 2s 52us/step - loss: 2.1434 - val_loss: 2.1913

----- Generating text after Epoch: 35
----- Generating with seed: "j"
----- diversity: 0.2
janne
----- diversity: 0.5
jacha
----- diversity: 1.0
jhannoie
----- diversity: 1.2
jarae
Epoch 37/81
44682/44682 [==============================] - 2s 54us/step - loss: 2.1431 - val_loss: 2.1869
Epoch 38/81
44682/44682 [==============================] - 2s 53us/step - loss: 2.1396 - val_loss: 2.1879
Epoch 39/81
44682/44682 [==============================] - 3s 63us/step - loss: 2.1394 - val_loss: 2.1887
Epoch 40/81
44682/44682 [==============================] - 2s 54us/step - loss: 2.1388 - val_loss: 2.1883
Epoch 41/81
44682/44682 [==============================] - 2s 54us/step - loss: 2.1357 - val_loss: 2.1853

----- Generating text after Epoch: 40
----- Generating with seed: "i"
----- diversity: 0.2
ia
----- diversity: 0.5
ia
----- diversity: 1.0
irhirbelertynnadulie
----- diversity: 1.2
iant
Epoch 42/81
44682/44682 [==============================] - 3s 57us/step - loss: 2.1354 - val_loss: 2.1853
Epoch 43/81
44682/44682 [==============================] - 2s 53us/step - loss: 2.1351 - val_loss: 2.1832
Epoch 44/81
44682/44682 [==============================] - 2s 53us/step - loss: 2.1342 - val_loss: 2.1852
Epoch 45/81
44682/44682 [==============================] - 2s 54us/step - loss: 2.1318 - val_loss: 2.1827
Epoch 46/81
44682/44682 [==============================] - 2s 56us/step - loss: 2.1295 - val_loss: 2.1853

----- Generating text after Epoch: 45
----- Generating with seed: "r"
----- diversity: 0.2
ra
----- diversity: 0.5
ra
----- diversity: 1.0
rlier
----- diversity: 1.2
rettickellita
Epoch 47/81
44682/44682 [==============================] - 2s 53us/step - loss: 2.1306 - val_loss: 2.1838
Epoch 48/81
44682/44682 [==============================] - 2s 53us/step - loss: 2.1260 - val_loss: 2.1827
Epoch 49/81
44682/44682 [==============================] - 2s 55us/step - loss: 2.1253 - val_loss: 2.1847
Epoch 50/81
44682/44682 [==============================] - 2s 54us/step - loss: 2.1254 - val_loss: 2.1800
Epoch 51/81
44682/44682 [==============================] - 2s 55us/step - loss: 2.1229 - val_loss: 2.1849

----- Generating text after Epoch: 50
----- Generating with seed: "l"
----- diversity: 0.2
la
----- diversity: 0.5
la
----- diversity: 1.0
lorne
----- diversity: 1.2
ley
Epoch 52/81
44682/44682 [==============================] - 2s 53us/step - loss: 2.1218 - val_loss: 2.1781
Epoch 53/81
44682/44682 [==============================] - 2s 55us/step - loss: 2.1232 - val_loss: 2.1803
Epoch 54/81
44682/44682 [==============================] - 2s 55us/step - loss: 2.1225 - val_loss: 2.1795
Epoch 55/81
44682/44682 [==============================] - 2s 55us/step - loss: 2.1209 - val_loss: 2.1848
Epoch 56/81
44682/44682 [==============================] - 2s 55us/step - loss: 2.1215 - val_loss: 2.1799

----- Generating text after Epoch: 55
----- Generating with seed: "h"
----- diversity: 0.2
hilie
----- diversity: 0.5
holdursta
----- diversity: 1.0
hinelina
----- diversity: 1.2
hy
Epoch 57/81
44682/44682 [==============================] - 2s 51us/step - loss: 2.1198 - val_loss: 2.1805
Epoch 58/81
44682/44682 [==============================] - 2s 49us/step - loss: 2.1194 - val_loss: 2.1831
Epoch 59/81
44682/44682 [==============================] - 2s 50us/step - loss: 2.1164 - val_loss: 2.1838
Epoch 60/81
44682/44682 [==============================] - 3s 62us/step - loss: 2.1173 - val_loss: 2.1789
Epoch 61/81
44682/44682 [==============================] - 3s 65us/step - loss: 2.1173 - val_loss: 2.1821

----- Generating text after Epoch: 60
----- Generating with seed: "y"
----- diversity: 0.2
ya
----- diversity: 0.5
y
----- diversity: 1.0
yecie
----- diversity: 1.2
y
Epoch 62/81
44682/44682 [==============================] - 3s 63us/step - loss: 2.1164 - val_loss: 2.1801
Epoch 63/81
44682/44682 [==============================] - 2s 44us/step - loss: 2.1150 - val_loss: 2.1797
Epoch 64/81
44682/44682 [==============================] - 2s 45us/step - loss: 2.1132 - val_loss: 2.1858
Epoch 65/81
44682/44682 [==============================] - 2s 45us/step - loss: 2.1126 - val_loss: 2.1781
Epoch 66/81
44682/44682 [==============================] - 2s 45us/step - loss: 2.1120 - val_loss: 2.1781

----- Generating text after Epoch: 65
----- Generating with seed: "u"
----- diversity: 0.2
uella
----- diversity: 0.5
uan
----- diversity: 1.0
uren
----- diversity: 1.2
unch
Epoch 67/81
44682/44682 [==============================] - 2s 44us/step - loss: 2.1136 - val_loss: 2.1791
Epoch 68/81
44682/44682 [==============================] - 2s 44us/step - loss: 2.1101 - val_loss: 2.1801
Epoch 69/81
44682/44682 [==============================] - 2s 44us/step - loss: 2.1117 - val_loss: 2.1828
Epoch 70/81
44682/44682 [==============================] - 2s 45us/step - loss: 2.1095 - val_loss: 2.1777
Epoch 71/81
44682/44682 [==============================] - 2s 44us/step - loss: 2.1100 - val_loss: 2.1814

----- Generating text after Epoch: 70
----- Generating with seed: "p"
----- diversity: 0.2
poris
----- diversity: 0.5
pat
----- diversity: 1.0
pilbanne
----- diversity: 1.2
pnemyrrenna
Epoch 72/81
44682/44682 [==============================] - 2s 44us/step - loss: 2.1102 - val_loss: 2.1809
Epoch 73/81
44682/44682 [==============================] - 2s 48us/step - loss: 2.1067 - val_loss: 2.1755
Epoch 74/81
44682/44682 [==============================] - 2s 44us/step - loss: 2.1068 - val_loss: 2.1789
Epoch 75/81
44682/44682 [==============================] - 2s 44us/step - loss: 2.1077 - val_loss: 2.1821
Epoch 76/81
44682/44682 [==============================] - 2s 45us/step - loss: 2.1084 - val_loss: 2.1777

----- Generating text after Epoch: 75
----- Generating with seed: "y"
----- diversity: 0.2
ya
----- diversity: 0.5
y
----- diversity: 1.0
ye
----- diversity: 1.2
y
Epoch 77/81
44682/44682 [==============================] - 2s 44us/step - loss: 2.1068 - val_loss: 2.1783
Epoch 78/81
44682/44682 [==============================] - 2s 44us/step - loss: 2.1062 - val_loss: 2.1766
Epoch 79/81
44682/44682 [==============================] - 2s 44us/step - loss: 2.1048 - val_loss: 2.1785
Epoch 80/81
44682/44682 [==============================] - 2s 44us/step - loss: 2.1040 - val_loss: 2.1828
Epoch 81/81
44682/44682 [==============================] - 2s 44us/step - loss: 2.1055 - val_loss: 2.1772

----- Generating text after Epoch: 80
----- Generating with seed: "s"
----- diversity: 0.2
sa
----- diversity: 0.5
sellene
----- diversity: 1.0
se
----- diversity: 1.2
simmyona

In [15]:
model.save('output/generic-names-81-epochs.hdf5')

In [16]:
token_to_index.keys()

dict_keys(['l', 'a', 'u', 'r', 'i', 'n', 'e', '\n', 'b', 't', 's', 'd', 'o', 'c', 'm', 'p', 'g', 'k', 'y', 'j', 'v', 'h', '-', 'w', 'f', 'q', 'x', 'z', ' ', "'"])

In [ ]:
com